header {
    background-color: transparent;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.381);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    z-index: 999;
}


.nav-logo {
    width: 130px;
}

.dividing {
    color: white;
}

.hamburger {
    color: white;
    font-size: 28px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    width: 100%;
    align-items: center;
}

.nav-links {
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    font-size: 17px;
    font-weight: 500;
    transition: .3s;
}

#user {
    margin-right: 10px;
}

.links-container {
    display: flex;
}

.hamburger {
    display: none;
}


/* RESPONSIVE DESIGN*/

@media (max-width: 768px) {
    header {
        padding: 10px;
        z-index: 99;
    }

    .nav-container {
        padding: 0 20px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        gap: 8px;
        position: absolute;
        top: 70px;
        font-size: 33px;
        right: 0;
        width: 100%;
        background: #413d3df3;
        z-index: 999;
        padding: 0;
        border-radius: 30px;
        text-align: start;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transition: .5s;
    }

    .nav-links.active {
        display: flex;
        max-height: 500px;
        opacity: 1;
        padding: 15px;
    }

    .dividing {
        display: inline-block;
        transform: rotate(90deg);
        padding: 0 15px;
    }

    #user {
        display: none;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
}

@media (max-width: 480px) {
    .nav-logo {
        width: 100px;
    }

    .nav-links a {
        font-size: 14px;
    }
}