.button {
    display: inline-block;
    font-weight: 400;
    border-radius: 9px;
    font-size: 16px;
    color: white;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
    background-color: #E86C60;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;

}

.button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    background-color: #f3493a;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}

.button:hover::before {
    transform: translateX(0);
}